.navWrap{
    background-color:rgb(30, 30, 126);
     max-width: 1600px;
    width: 100%;
    margin: 0 auto;
}

.mainWrap{
    max-width: 1600px;
    width: 100%;
    margin:0 auto;
    .mainContent{
        display: flex;
        gap: 5px;
        .searchCol{
            flex:3;
            position: sticky;
            top:1px;
            height: max-content;
            .searchBox{
                margin-top: 2rem;
                padding: 0 2rem;
                .searchWrap{
                    padding: 1rem;
                    background-color: #febb02;
                    display: flex;
                    flex-direction: column;
                    border-radius: 10px;

                    .searchTitle{
                        font-weight: 800;
                        color: rgb(76, 75, 75);
                        font-size: 1.2rem;
                        padding-bottom: 0.5rem;
                    }

                    .params{
                        display: flex;
                        flex-direction: column;
                        font-size: 0.8rem;
                        gap: 4px;
                        padding-bottom: 0.5rem;
                    }

                    .params > input{
                        padding: 0.5rem;
                        border: none;
                        outline: none;
                    }

                    
                    .options{
                        padding-bottom: 0.5rem;
                        font-size: 0.8rem;
                    }

                    .searchOptions{
                        display: flex;
                        flex-direction: column;
                        gap: 10px;

                        .filter{
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            font-size: 0.8rem;

                            .in{
                                width: 50px;
                                outline: none;
                               
                                padding:0.2rem 0.5rem;
                            }
                        }
                    }

                }

                .searchButtonWrap{
                    padding-top: 0.5rem;
                    .searchBtn{
                        width: 100%;
                        padding: 0.7rem;
                        background-color: rgb(66, 66, 202);
                        color: #fff;
                        border: none;
                        outline: none;
                        cursor: pointer;

                        &:hover{
                            background-color: rgb(110, 110, 209); ;
                        }
                    }
                }
            }
        }

        .listCol{
            flex:8;
            padding-right: 2rem;
                       
        }
    }      
}